<form method="post" action="{{ path('app_formulaire_delete', {'id': roamhaven_formulaire.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir cette suppression?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ roamhaven_formulaire.id) }}">
    <button class="btn">Supprimer</button>
</form>
