{% extends 'base.html.twig' %}

{% block title %}Editer formulaire{% endblock %}

{% block body %}
    <h1 class="titre">Editer formulaire</h1>

    {{ include('formulaire/_form.html.twig', {'button_label': 'Editer'}) }}

    <a href="{{ path('app_formulaire_index') }}">retour à la liste</a>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="delete">
            {{ include('formulaire/_delete_form.html.twig') }}
        </div>
    {% endif %}
{% endblock %}
