{% extends 'base.html.twig' %}

{% block title %}Liste des formulaires{% endblock %}

{% block body %}
    <h1 class="titre">Liste des formulaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for roamhaven_formulaire in roamhaven_formulaires %}
            <tr>
                <td>{{ roamhaven_formulaire.id }}</td>
                <td>{{ roamhaven_formulaire.formulaireMessage }}</td>
                <td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('app_formulaire_show', {'id': roamhaven_formulaire.id}) }}">détails</a>
                    <a href="{{ path('app_formulaire_edit', {'id': roamhaven_formulaire.id}) }}">éditer</a>
                {% else %}
                    Vous n'avez pas les droits
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun formulaire enregistrer</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_formulaire_new') }}">Ajouter un</a>
{% endblock %}
