{% extends 'base.html.twig' %}

{% block title %}Nouveau formulaire{% endblock %}

{% block body %}
    <h1 class="titre">Nouveau formulaire</h1>

    {{ include('formulaire/_form.html.twig') }}

    <a href="{{ path('app_formulaire_index') }}">retour à la liste</a>
{% endblock %}
