{% extends 'base.html.twig' %}

{% block title %}Roamhaven Formulaire{% endblock %}

{% block body %}
    <h1 class="titre">Roamhaven Formulaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ roamhaven_formulaire.id }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ roamhaven_formulaire.formulaireMessage }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_formulaire_index') }}">retour à la liste</a>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('app_formulaire_edit', {'id': roamhaven_formulaire.id}) }}">éditer</a>
        <div class="delete">
            {{ include('formulaire/_delete_form.html.twig') }}
        </div>
    {% endif %}
{% endblock %}
