{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="titre">Enregistrement</h1>

    {{ form_errors(registrationForm) }}

    {{ form(registrationForm) }}
      
{% endblock %}
