<form method="post" action="{{ path('app_reservation_delete', {'id': roamhaven_reservation.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir cette suppression?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ roamhaven_reservation.id) }}">
    <button class="btn">Supprimer</button>
</form>
