{% extends 'base.html.twig' %}

{% block title %}Editer réservation{% endblock %}

{% block body %}
    <h1 class="titre">Editer réservation</h1>

    {{ include('reservation/_form.html.twig', {'button_label': 'Editer'}) }}

    <a href="{{ path('app_reservation_index') }}">retour à la liste</a>
    <div class="delete">
        {{ include('reservation/_delete_form.html.twig') }}
    </div>
{% endblock %}
