{% extends 'base.html.twig' %}

{% block title %}Lsite des réservations{% endblock %}

{% block body %}
    <h1 class="titre">Liste des réservations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for roamhaven_reservation in roamhaven_reservations %}
            <tr>
                <td>{{ roamhaven_reservation.id }}</td>
                <td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('app_reservation_show', {'id': roamhaven_reservation.id}) }}">détails</a>
                    <a href="{{ path('app_reservation_edit', {'id': roamhaven_reservation.id}) }}">éditer</a>
                {% else %}
                    Vous n'avez pas les droits
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucune réservation enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new') }}">Ajouter une</a>
{% endblock %}
