{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <h1 class="titre">Réservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ roamhaven_reservation.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}">retour à la liste</a>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('app_reservation_edit', {'id': roamhaven_reservation.id}) }}">éditer</a>
        <div class="delete">
            {{ include('reservation/_delete_form.html.twig') }}
        </div>
    {% endif %}
{% endblock %}
