{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/roche/Documents/DWWM 2/Les Briefs/7e brief/Back/roamhaven-back/src/Controller/Api/CategorieController.php</code></li>
        <li>Your template at <code>C:/Users/roche/Documents/DWWM 2/Les Briefs/7e brief/Back/roamhaven-back/templates/api/categorie/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
