<form method="post" action="{{ path('app_statut_delete', {'id': roamhaven_statut.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir cette suppression?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ roamhaven_statut.id) }}">
    <button class="btn">Supprimer</button>
</form>
