{% extends 'base.html.twig' %}

{% block title %}Editer statut{% endblock %}

{% block body %}
    <h1 class="titre">Editer statut</h1>

    {{ include('statut/_form.html.twig', {'button_label': 'Editer'}) }}

    <a href="{{ path('app_statut_index') }}">retour à la liste</a>
    <div class="delete">
        {{ include('statut/_delete_form.html.twig') }}
    </div>
{% endblock %}
