{% extends 'base.html.twig' %}

{% block title %}Liste des statuts{% endblock %}

{% block body %}
    <h1 class="titre">Liste des statuts</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for roamhaven_statut in roamhaven_statuts %}
            <tr>
                <td>{{ roamhaven_statut.id }}</td>
                <td>{{ roamhaven_statut.statutNom }}</td>
                <td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('app_statut_show', {'id': roamhaven_statut.id}) }}">détails</a>
                    <a href="{{ path('app_statut_edit', {'id': roamhaven_statut.id}) }}">éditer</a>
                {% else %}
                    Vous n'avez pas les droits
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun statut enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_statut_new') }}">Ajouter un</a>
{% endblock %}
