{% extends 'base.html.twig' %}

{% block title %}Nouveau statut{% endblock %}

{% block body %}
    <h1 class="titre">Nouveau statut</h1>

    {{ include('statut/_form.html.twig') }}

    <a href="{{ path('app_statut_index') }}">retour à la liste</a>
{% endblock %}
