{% extends 'base.html.twig' %}

{% block title %}Roamhaven Statut{% endblock %}

{% block body %}
    <h1 class="titre">Roamhaven Statut</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ roamhaven_statut.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ roamhaven_statut.statutNom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_statut_index') }}">retour à la liste</a>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('app_statut_edit', {'id': roamhaven_statut.id}) }}">éditer</a>
        <div class="delete">
            {{ include('statut/_delete_form.html.twig') }}
        </div>
    {% endif %}
{% endblock %}
