body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #022026;
}

.hidden {
    display: none;
}

.bg-success {
    /* a completer */
    background-color: #038c73;
    color: #f2f2f2;
}

.btn {
    background-color: #038c73;
    color: #f2f2f2;
    border-radius: 15px;
}

a {
    padding: 4px;
    margin: 6px;
    margin-right: 8px;
    text-decoration: none;
    border-radius: 45px;
    color: #038c73;
    background-color: #f2f2f2;
}

.marginTop {
    margin-top: 8px;
}

label {
    margin: 4px;
    margin-right: 6px;
}

input {
    display: inline-block;
    margin: 4px;
    border-radius: 15px;
    text-align: center;
    color: #038c73;
}

.titre {
    font-weight: 800;
    font-size: x-large;
    margin: 8px;
}

.action {
    font-weight: 600;
    font-size: larger;
    margin: 6px;
}

.jaune {
    background-color: #f2f0d8;
}

.edit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f0d8;
    color: #038c73;
    width: 64px;
    border-radius: 45px;
}

.titreContainer {
    text-decoration: underline;
    font-style: italic;
}

.containerLien {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 6px;
    padding: 4px;
}

.delete {
    margin-top: 10px;
    background-color: #038c73;
    color: #f2f2f2;
    width: 128px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
}

table{
    border-collapse: collapse;
    width: 400px;
}

th, td{
    border: 1px solid black;
    padding: 10px;
    vertical-align: top;
    empty-cells: hide;
  }