<form method="post" action="{{ path('app_pays_delete', {'id': roamhaven_pay.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir cette suppression?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ roamhaven_pay.id) }}">
    <button class="btn">Supprimer</button>
</form>
