{% extends 'base.html.twig' %}

{% block title %}Editer Pays{% endblock %}

{% block body %}
    <h1 class="titre">Editer ce Pays</h1>

    {{ include('pays/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_pays_index') }}">retour à la liste</a>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="delete">
            {{ include('pays/_delete_form.html.twig') }}
        </div>
    {% endif %}
{% endblock %}
