{% extends 'base.html.twig' %}

{% block title %}RoamhavenPays index{% endblock %}

{% block body %}
    <h1 class="titre">Roamhaven Liste des pays :</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for roamhaven_pay in roamhaven_pays %}
            <tr>
                <td>{{ roamhaven_pay.id }}</td>
                <td>{{ roamhaven_pay.paysNom }}</td>
                <td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('app_pays_show', {'id': roamhaven_pay.id}) }}">détails</a>
                    <a href="{{ path('app_pays_edit', {'id': roamhaven_pay.id}) }}">éditer</a>
                {% else %}
                    Vous n'avez pas les droits
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun pays enregistrer</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pays_new') }}">Ajouter un pays</a>
{% endblock %}
