{% extends 'base.html.twig' %}

{% block title %}Nouveau Pays{% endblock %}

{% block body %}
    <h1 class="titre">Ajouter un pays à la liste</h1>

    {{ include('pays/_form.html.twig') }}

    <a href="{{ path('app_pays_index') }}">retour à la liste</a>
{% endblock %}
