{% extends 'base.html.twig' %}

{% block title %}Roamhaven Pays{% endblock %}

{% block body %}
    <h1 class="titre">Roamhaven liste des Pays</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ roamhaven_pay.id }}</td>
            </tr>
            <tr>
                <th>PaysNom</th>
                <td>{{ roamhaven_pay.paysNom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_pays_index') }}">Retour à la liste</a>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('app_pays_edit', {'id': roamhaven_pay.id}) }}">éditer</a>

        <div class="delete">
            {{ include('pays/_delete_form.html.twig') }}
        </div>
    {% endif %}
{% endblock %}
