<form method="post" action="{{ path('app_categorie_delete', {'id': roamhaven_categorie.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir cette suppression?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ roamhaven_categorie.id) }}">
    <button class="btn">Supprimer</button>
</form>
