{% extends 'base.html.twig' %}

{% block title %}Editer Roamhaven Catégorie{% endblock %}

{% block body %}
    <h1 class="titre">Editer cette catégorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Editer'}) }}

    <a href="{{ path('app_categorie_index') }}">retour à la liste</a>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="delete">
            {{ include('categorie/_delete_form.html.twig') }}
        </div>
    {% endif %}
{% endblock %}
