{% extends 'base.html.twig' %}

{% block title %}Roamhaven catégorie liste{% endblock %}

{% block body %}
    <h1 class="titre">Roamhaven liste des catégories :</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for roamhaven_categorie in roamhaven_categories %}
            <tr>
                <td>{{ roamhaven_categorie.id }}</td>
                <td>{{ roamhaven_categorie.categorieNom }}</td>
                <td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('app_categorie_show', {'id': roamhaven_categorie.id}) }}">détails</a>
                    <a href="{{ path('app_categorie_edit', {'id': roamhaven_categorie.id}) }}">editer</a>
                {% else %}
                    Vous n'avez pas les droits
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune catégorie enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_new') }}">Ajouter une</a>
{% endblock %}
