{% extends 'base.html.twig' %}

{% block title %}Roamhaven Catégorie{% endblock %}

{% block body %}
    <h1 class="titre">Roamhaven Catégorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ roamhaven_categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ roamhaven_categorie.categorieNom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categorie_index') }}">retour à la liste</a>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('app_categorie_edit', {'id': roamhaven_categorie.id}) }}">editer</a>

        <div class="delete">
            {{ include('categorie/_delete_form.html.twig') }}
        </div>
    {% endif %}
{% endblock %}
