<form method="post" action="{{ path('app_voyage_delete', {'id': roamhaven_voyage.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir cette suppression?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ roamhaven_voyage.id) }}">
    <button class="btn">Supprimer</button>
</form>
