{% extends 'base.html.twig' %}

{% block title %}Editer voyage{% endblock %}

{% block body %}
    <h1 class="titre">Editer voyage</h1>

    {{ include('voyage/_form.html.twig', {'button_label': 'Editer'}) }}

    <a href="{{ path('app_voyage_index') }}">Retour à la liste</a>

    <div class="delete">
        {{ include('voyage/_delete_form.html.twig') }}
    </div>

{% endblock %}
