{% extends 'base.html.twig' %}

{% block title %}Nouveau voyage{% endblock %}

{% block body %}
    <h1 class="titre">Nouveau voyage</h1>

    {{ include('voyage/_form.html.twig') }}

    <a href="{{ path('app_voyage_index') }}">Retour à la liste</a>
{% endblock %}
