{% extends 'base.html.twig' %}

{% block title %}Liste des voyages{% endblock %}

{% block body %}
    <h1 class="titre">Liste des voyages</h1>
        <a href="{{ path('app_voyage_index') }}"> Retour à la liste</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Debut</th>
                <th>Image</th>
                <th>Duree</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for roamhaven_voyage in roamhaven_voyages %}
                <tr>
                    <td>{{ roamhaven_voyage.id }}</td>
                    <td>{{ roamhaven_voyage.voyageNom }}</td>
                    <td>{{ roamhaven_voyage.voyageDescription }}</td>
                    <td>{{ roamhaven_voyage.voyageDebut ? roamhaven_voyage.voyageDebut|date('Y-m-d H:i:s') : '' }}</td>
                    <td> <img src="{{ roamhaven_voyage.voyageImage }}" alt="">  </td>
                    <td>{{ roamhaven_voyage.voyageDuree }} jours</td>
                    <td>{{ roamhaven_voyage.voyagePrix }} Berry / personne</td>
                    <td>
                    {% if roamhaven_voyage.roamhavenUser.id == app.user.id %}
                        <a href="{{ path('app_voyage_show', {'id': roamhaven_voyage.id}) }}">détails</a>
                        <a href="{{ path('app_voyage_edit', {'id': roamhaven_voyage.id}) }}">éditer</a>
                        {% else %}
                            Vous n'êtes pas son auteur
                        {% endif %}
                    </td>
                </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun voyage enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voyage_new') }}">Ajouter un</a>
{% endblock %}
