{% extends 'base.html.twig' %}

{% block title %}Roamhaven Voyage{% endblock %}

{% block body %}
    <h1 class="titre">Roamhaven Voyage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td> voyage n° : {{ roamhaven_voyage.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ roamhaven_voyage.voyageNom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ roamhaven_voyage.voyageDescription }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ roamhaven_voyage.voyageDebut ? roamhaven_voyage.voyageDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td> <img src="{{ roamhaven_voyage.voyageImage }}" alt=""> </td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ roamhaven_voyage.voyageDuree }} jours</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ roamhaven_voyage.voyagePrix }} Berry / peronne</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_voyage_index') }}">Retour à la liste</a>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('app_voyage_edit', {'id': roamhaven_voyage.id}) }}">éditer</a>
        <div class="delete">
            {{ include('voyage/_delete_form.html.twig') }}
        </div>
    {% elseif roamhaven_voyage.roamhavenUser.id == app.user.id %}
        <a href="{{ path('app_voyage_edit', {'id': roamhaven_voyage.id}) }}">éditer</a>
        <div class="delete">
            {{ include('voyage/_delete_form.html.twig') }}
        </div>
    {% endif %}
{% endblock %}
