<form method="post" action="{{ path('app_user_delete', {'id': roamhaven_user.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir cette suppression?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ roamhaven_user.id) }}">
    <button class="btn">Supprimer ce compte</button>
</form>
