{% extends 'base.html.twig' %}

{% block title %}Edit RoamhavenUser{% endblock %}

{% block body %}
    <h1 class="titre">Edit RoamhavenUser</h1>


    {{ form_start(form) }}
        {{ form_row(form.userEmail) }}
        {{ form_row(form.password, {
            label: 'password'
        }) }}
        {{ form_row(form.userNom) }}
        {{ form_row(form.userPrenom) }}
        {{ form_row(form.userTel) }}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {{ form_row(form.roles) }}
        {% else %}
            <div class="hidden">
                {{ form_row(form.roles) }}
            </div>
        {% endif %}
        <button class="edit" type="submit">Editer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_user_show', {'id': roamhaven_user.id}) }}">Retour à votre page</a>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="delete">
            {{ include('user/_delete_form.html.twig') }}
        </div>
    {% endif %}
{% endblock %}
