{% extends 'base.html.twig' %}

{% block title %}RoamhavenUser index{% endblock %}

{% block body %}
    <h1 class="titre">RoamhavenUser Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Tel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for roamhaven_user in roamhaven_users %}
            <tr>
                <td>{{ roamhaven_user.userEmail }}</td>
                <td>{{ roamhaven_user.roles ? roamhaven_user.roles|json_encode : '' }}</td>
                <td>{{ roamhaven_user.userNom }}</td>
                <td>{{ roamhaven_user.userPrenom }}</td>
                <td>{{ roamhaven_user.userTel }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': roamhaven_user.id}) }}">détails</a>
                    <a href="{{ path('app_user_edit', {'id': roamhaven_user.id}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_register') }}">Ajouter</a>
{% endblock %}
