{% extends 'base.html.twig' %}

{% block title %}RoamhavenUser{% endblock %}

{% block body %}
    <h1 class="titre">Bonjour {{ roamhaven_user.userNom }} {{ roamhaven_user.userPrenom }}</h1>

        {% for message in app.flashes('note') %}
			<div class="bg-success">
				{{ message | join('<br>') }}
			</div>
		{% endfor %}
    <p class="action">Que voulez vous faire? :</p>

    <div>
        <p class="titreContainer">Vous concernant :</p>
        <div class="containerLien">
            <a class="jaune" href="{{ path('app_logout') }}">Vous déconnecter</a></br>
            <a class="jaune" href="{{ path('app_user_edit', {'id': roamhaven_user.id}) }}">Mettre à jour votre compte</a></br>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('app_user_index') }}">Voir la liste des utilisateurs</a></br>
            {% endif %}
        </div>
    </div>


    <div>
        <p class="titreContainer">Concernant les pays :</p>
        <div class="containerLien">
            <a href="{{ path('app_pays_index') }}">Voir la liste des pays</a></br>
            <a href="{{ path('app_pays_new') }}">Enregistrer un nouveau pays</a></br>
        </div>
    </div>

    <div>
        <p class="titreContainer">Concernant les catégories :</p>
        <div class="containerLien">
            <a href="{{ path('app_categorie_index') }}">Voir la liste des catégories</a></br>
            <a href="{{ path('app_categorie_new') }}">Enregistrer une nouvelle catégorie</a></br>
        </div>
    </div>

    <div>
        <p class="titreContainer">Concernant les voyages :</p>
        <div class="containerLien">
            <a href="{{ path('app_voyage_index') }}">Voir la liste des voyages</a></br>
            <a href="{{ path('app_voyage_new') }}">Enregistrer un nouveau voyage</a></br>
        </div>
    </div>

    <div class="delete">
        {{ include('user/_delete_form.html.twig') }}
    </div>

{% endblock %}
